:host ::ng-deep {
  .logo-container {
    width: fit-content;
    height: fit-content;
    padding: 0.3rem;
    gap: 0.3em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;


    .icon-mini {
      font-size: 2rem;
    }

    .icon-normal {
      font-size: 4rem;
    }

    .span-mini {
      font-size: 1rem;
      gap: 0.5em;
    }

    .span-normal {
      font-size: 1.5rem;
      gap: 0.6em;
    }

    span {
      font-family: "Bebas Neue", serif;
      font-weight: 400;
      font-style: normal;
      display: flex;
    }
  }
}
